<div class="row">    
  <h3 name="form">新しく項目を追加する <small>追加</small></h3>
  <div class="span11 columns">
  <form method="post" action="./createRow">
    <fieldset>
      <div class="clearfix">
        <label for="title">タイトル</label>
        <div class="input">
          <input type="text" name="title" class="large">
        </div>
      </div>
      <div class="clearfix">
        <label for="address">アドレス</label>
        <div class="input">
          <input type="text" name="address" class="large">
        </div>
      </div>
      <div class="clearfix">
        <label for="latitude">緯度</label>
        <div class="input">
          <input type="text" name="latitude" class="large">
        </div>
      </div>
      <div class="clearfix">
        <label for="title">経度</label>
        <div class="input">
          <input type="text" name="longitude" class="large">
        </div>
      </div>
      <div class="clearfix">
        <label for="title">スケール</label>
        <div class="input">
          <input type="text" name="scale" class="large">
        </div>
      </div>      
   <div class="clearfix">
      <div class="clearfix">
        <div class="input">
          <input type="submit" value="追加" class="btn primary">
        </div>
      </div>    </fieldset>
  </div>
  </form>
</div>
