<div class="row">
  <h3 name="form">Rowを編集する</h3>
  <div class="span11 columns">
    <form method="post" action="/editRow">
      <fieldset>
        <input type="hidden" name="id" value="<%=@row[:id]%>">
        <div class="clearfix">
          <label for="title">タイトル</label>
          <div class="input">
            <input type="text" name="title" class="large" value="<%=@row[:title]%>">
          </div>
        </div>
        <div class="clearfix">
          <label for="address">アドレス</label>
          <div class="input">
            <input type="text" name="address" class="large" value="<%=@row[:address]%>">
          </div>
        </div>
        <div class="clearfix">
          <label for="latitude">緯度</label>
          <div class="input">
            <input type="text" name="latitude" class="large" value="<%=@row[:latitude]%>">
          </div>
        </div>
        <div class="clearfix">
          <label for="title">経度</label>
          <div class="input">
            <input type="text" name="longitude" class="large" value="<%=@row[:longitude]%>">
          </div>
        </div>
        <div class="clearfix">
          <label for="title">スケール</label>
          <div class="input">
            <input type="text" name="scale" class="large" value="<%=@row[:scale]%>">
          </div>
        </div>      
        <div class="clearfix">
          <div class="clearfix">
            <div class="input">
              <input type="submit" value="編集" class="btn primary">
            </div>
          </div>
      </fieldset>
      </div>
    </form>
  </div>
</div>
