<script>
jQuery(function($) {
  $('tr[data-href]').addClass('clickable')
      .click(function(e) {
            if(!$(e.target).is('a')){
                    window.location = $(e.target).closest('tr').data('href');
      };
  });
});
</script>
<div class="row">
  <% if @rows.count != 0  %>
  <h3 name="form">ツアーを編集する <small>ツアーの編集</small></h3>
  <div class="span11 columns">
  <form method="post" action="/editTour">
    <fieldset>

      <div class="clearfix">
        <label for="title">ツアー候補地一覧</label>
        <input type="hidden" name="id" value="<%=@tour[:id]%>">
        <table class="common-table zebra-striped">
          <thead>
            <tr><th>#</th><th>タイトル</th><th>アドレス</th><th>スケール</th></tr>
          </thead>
          <tbody>
            <% @rows.each do |row| %>
            <tr>
              <td><input type="checkbox" name="rows[]" value="<%= row[:id]%>"></td>
              <td><%= row[:title] %></td>
              <td><%= row[:address] %></td>
              <td><%= row[:scale] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="clearfix">
        <label for="title">タイトル</label>
        <div class="input">
          <input type="text" name="title" class="large" value="<%= @tour[:title]%>">
        </div>
      </div>
      <div class="clearfix">
        <label for="description">課題説明</label>
        <div class="input">
          <textarea name="description" class="xxlarge" rows="5"><%=@tour[:description]%></textarea>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <input type="submit" value="保存" class="btn primary">
        </div>
      </div>
    </fieldset>
  </div>
  </form>
  <% else %>
  まずはRowを作ってください
  <% end %>
</div>
