<div class="row">
  <% if @tours.count != 0%>
  <h3>ツアー一覧</h3>
  <div class="clearfix">
        <table class="common-table zebra-striped">
          <thead>
            <tr><th>タイトル</th><th>説明</th></tr>
          </thead>
          <tbody>
            <% @tours.each do |tour| %>
            <tr>
              <td><%= tour[:title] %></td>
              <td><%= tour[:description] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  <% end %>
</div>